/**********字体颜色**************/
.color-fff {
  color: #fff !important;
}
.color-000 {
  color: #000 !important;
}
.color-333 {
  color: #333 !important;
} /*标题*/
.color-666 {
  color: #666 !important;
} /*内容*/
.color-999 {
  color: #999 !important;
} /*说明*/
.color-theme {
  color: rgb(201, 20, 53) !important;
} /*主色*/
.color-orange {
  color: #f39c1f !important;
}
.color-green {
  color: #7aac52 !important;
}
.color-purple {
  color: #838dec !important;
}
.color-red {
  color: #d5340b !important;
}
.color-44120E {
  color: #44120e !important;
}
.color-82CE45 {
  color: #82ce45 !important;
}
.color-CE4545 {
  color: #ce4545 !important;
}
.color-20B759 {
  color: #20b759 !important;
}
.color-hotpink {
  color: rgb(253, 82, 98) !important;
}
.color-blue {
  color: #59b4ff !important;
}
.color-F39D1E {
  color: #f39d1e !important;
}
.color-20B759 {
  color: #20b759 !important;
}
.color-C00000 {
  color: #c00000 !important;
}
.color-34A5FC {
  color: #34a5fc !important;
}
.color-879BF0 {
  color: #879bf0 !important;
}
.color-F9913A {
  color: #f9913a !important;
}

/**********背景颜色**************/
.bg-container {
  background-color: #f2f2f2 !important;
} /*容器背景*/
.bg-fff {
  background-color: #ffffff !important;
}
.bg-f3 {
  background-color: #f3f3f3 !important;
}
.bg-e3 {
  background-color: #e3e3e3 !important;
}
.bg-82CE45 {
  background-color: #82ce45 !important;
}
.bg-CE4545 {
  background-color: #ce4545 !important;
}
.bg-theme {
  background-color: #c8102e !important;
}
.bg-theme1 {
  background-color: #ffeaee !important;
}
.bg-grey {
  background-color: #797979 !important;
}
.bg-orange {
  background-color: #ffba08 !important;
}
.bg-yellow {
  background-color: #fffbe6 !important;
}
.bg-unset {
  background-color: rgba(255, 255, 255, 0) !important;
}
.bg-20B759 {
  background-color: #20b759 !important;
}
.bg-F39D1E {
  background-color: #f39d1e !important;
}
.bg-C00000 {
  background-color: #c00000 !important;
}
.bg-b3 {
  background-color: #b3b3b3 !important;
}
.bg-hotpink {
  background-color: rgb(253, 82, 98) !important;
}
.bg-blue {
  background-color: rgb(103, 181, 253) !important;
}
.bg-DB590A {
  background-color: #db590a !important;
}
/**********字体大小**************/
.font9 {
  font-size: 9px !important;
}
.font10 {
  font-size: 10px !important;
}
.font11 {
  font-size: 11px !important;
}
.font12 {
  font-size: 12px !important;
}
.font13 {
  font-size: 13px !important;
}
.font14 {
  font-size: 14px !important;
}
.font15 {
  font-size: 15px !important;
}
.font16 {
  font-size: 16px !important;
}
.font17 {
  font-size: 17px !important;
}
.font18 {
  font-size: 18px !important;
}
.font19 {
  font-size: 19px !important;
}
.font20 {
  font-size: 20px !important;
}
.font24 {
  font-size: 24px !important;
}
.font26 {
  font-size: 26px !important;
}
.font28 {
  font-size: 28px !important;
}
.font30 {
  font-size: 30px !important;
}
/**********加粗*******************/
.font-bold {
  font-weight: bold !important;
}

/**********文字对齐方式*******************/
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}

/* flex样式 */
/*https://weex.apache.org/zh/docs/styles/common-styles.html#flexbox*/
.flex-column {
  flex-flow: column !important;
  display: flex !important;
}
.flex-row {
  flex-direction: row !important;
  display: flex !important;
} /*水平布局（默认垂直布局）*/

.flex-row-tab {
  flex-direction: row !important;
  display: flex !important;

  flex-wrap: nowrap !important;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.flex-row-tab::-webkit-scrollbar {
  height: 0;
}
.flex-reverse {
  flex-direction: row-reverse !important;
  display: flex !important;
}
.flex-wrap {
  flex-wrap: wrap !important;
} /*多行排布（默认单行排布）*/
.space-end {
  justify-content: flex-end !important;
} /*成员项排列在容器的后部（默认排列在前部）*/
.space-center {
  justify-content: center !important;
} /*中间对齐，成员项排列在容器中间、两边留白（默认排列在前部）*/
.space-between {
  justify-content: space-between !important;
} /*两端对齐，空白均匀地填充到flex成员项之间（默认排列在前部）*/
.space-around {
  justify-content: space-around !important;
} /*两端对齐，空白均匀地填充到flex成员项之间（默认排列在前部）*/
.items-start {
  align-items: flex-start !important;
} /*上对齐（默认拉伸高度至 flex 容器的大小）*/
.items-end {
  align-items: flex-end !important;
} /*下对齐（默认拉伸高度至 flex 容器的大小）*/
.items-center {
  align-items: center !important;
} /*中间对齐（默认拉伸高度至 flex 容器的大小）*/
.flex1 {
  flex: 1 !important;
}
.flex2 {
  flex: 2 !important;
}
.flex3 {
  flex: 3 !important;
}
.flex4 {
  flex: 4 !important;
}
.flex5 {
  flex: 5 !important;
}
.flex6 {
  flex: 6 !important;
}

/* 边框 */
.border-dashed {
  border-bottom-style: dashed !important;
} /*虚线（默认实线）*/
.border-dotted {
  border-style: dotted !important;
} /*圆点（默认实线）*/
.border-bottom-tab {
  border-bottom-style: solid;
  border-bottom-width: 4px !important;
  border-bottom-color: #e16b23 !important;
}
.border-top {
  border-top-style: solid;
  border-top-width: 0.5px !important;
  border-top-color: #e6e6e6 !important;
}
.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px !important;
  border-bottom-color: #e6e6e6 !important;
}
.border-left {
  border-left-style: solid;
  border-left-width: 1px !important;
  border-left-color: #e6e6e6 !important;
}
.border-right {
  border-right-style: solid;
  border-right-width: 1px !important;
  border-right-color: #e6e6e6 !important;
}
.border-1 {
  border-style: solid;
  border-width: 1px !important;
  border-color: #e6e6e6 !important;
}
.border-radius-10 {
  border-radius: 10px !important;
  overflow: hidden !important;
}
.border-radius-6 {
  border-radius: 6px !important;
  overflow: hidden !important;
}
.border-radius-4 {
  border-radius: 4px !important;
  overflow: hidden !important;
}
.border-FFE58F {
  border-style: solid;
  border-width: 1px !important;
  border-color: #ffe58f !important;
}
.border-themeColor {
  border-style: solid;
  border-width: 1px !important;
  border-color: #e16b23 !important;
}
.border-05 {
  border-bottom-style: solid;
  border-bottom-width: 0.5px !important;
  border-bottom-color: #e6e6e6 !important;
}
/* 外边距 */
.mt-1 {
  margin-top: 1px !important;
}
.mt-2 {
  margin-top: 2px !important;
}
.m-5 {
  margin: 5px !important;
}
.mt-5 {
  margin-top: 5px !important;
}
.mb-5 {
  margin-bottom: 5px !important;
}
.ml-5 {
  margin-left: 5px !important;
}
.mr-5 {
  margin-right: 5px !important;
}
.mr-10 {
  margin-right: 10px !important;
}
.mr-15 {
  margin-right: 15px !important;
}
.mr-20 {
  margin-right: 20px !important;
}
.m-10 {
  margin: 10px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-15 {
  margin-top: 15px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.ml-10 {
  margin-left: 10px !important;
}
.mr-10 {
  margin-right: 10px !important;
}
.m-15 {
  margin: 15px !important;
}
.mt-15 {
  margin-top: 15px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.ml-15 {
  margin-left: 15px !important;
}
.mr-15 {
  margin-right: 15px !important;
}
.m-20 {
  margin: 20px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.ml-20 {
  margin-left: 20px !important;
}
.mr-20 {
  margin-right: 20px !important;
}

/* 内边距 */
.p-5 {
  padding: 5px !important;
}
.pt-5 {
  padding-top: 5px !important;
}
.pb-5 {
  padding-bottom: 5px !important;
}
.pl-5 {
  padding-left: 5px !important;
}
.pr-5 {
  padding-right: 5px !important;
}
.p-10 {
  padding: 10px !important;
}
.pt-10 {
  padding-top: 10px !important;
}
.pb-10 {
  padding-bottom: 10px !important;
}
.pl-10 {
  padding-left: 10px !important;
}
.pr-10 {
  padding-right: 10px !important;
}
.p-15 {
  padding: 15px !important;
}
.pt-15 {
  padding-top: 15px !important;
}
.pb-15 {
  padding-bottom: 15px !important;
}
.pl-15 {
  padding-left: 15px !important;
}
.pr-15 {
  padding-right: 15px !important;
}
.p-20 {
  padding: 20px !important;
}
.pt-20 {
  padding-top: 20px !important;
}
.pb-20 {
  padding-bottom: 20px !important;
}
.pl-20 {
  padding-left: 20px !important;
}
.pr-20 {
  padding-right: 20px !important;
}

/* 宽高 */
.screen-width {
  width: 750px !important;
}
.width80 {
  width: 80px !important;
}
.width90 {
  width: 90px !important;
}
.width70 {
  width: 70px !important;
}
.width110 {
  width: 110px !important;
}
.width120 {
  width: 120px !important;
}
.width160 {
  width: 160px !important;
}
.width320 {
  width: 320px !important;
}
.width100p{
  width: 100%;
}
.height-100p{
  height: 100%!important;
}
.height-100 {
  height: 100px !important;
}
.height-250 {
  height: 250px !important;
}
.height-60 {
  height: 60px !important;
}
.height-66 {
  height: 66px !important;
}
.height-40 {
  height: 40px !important;
}
.height-32 {
  height: 32px !important;
}
/**
 * 文本溢出隐藏
 */
.overflow {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/**
 * 强制换行
 */
.wh-pre {
  white-space: pre;
}

.base-layout {
  height: 100%;
  width: 100%;
  overflow: hidden !important;
  display: flex;
  flex-direction: column;
}
.list-content {
  flex: 1;
  overflow-y: auto;
}
.icon {
  border-radius: 10px !important;
  overflow: hidden !important;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
}

.line {
  background-color: #e6e6e6;
  height: 0.5px;
}

.preview-cover {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 4px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

.content-card {
  margin: 20px 20px 0;
  background: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

.title {
  font-size: 15px !important;
  font-weight: bold !important;
  color: #333 !important;
}
.sub-title {
  font-size: 14px !important;
  color: #666 !important;
}
.label {
  font-size: 14px !important;
  color: #999 !important;
}
.flex-end {
  flex-direction: row !important;
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center !important;
}
.flex-center {
  flex-direction: row !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.flex-between {
  flex-direction: row !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.flex-around {
  flex-direction: row !important;
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;
}

.pointer{
  cursor: pointer;
}