.flex{
  display flex
}
.flex-sb-c{
  display: flex
  justify-content: space-between
  align-items: center
}
.flex-c{
  display: flex
  justify-content: center
  align-items: center
}

.flex-d-c{
  flex-direction: column
}