$main-1 = #f1f2f6
$main-2 = #a4b0be
$main-3 = #747d8c
$main-4 = #57606f
$main-5 = #2f3542
$main-6 = #30363F
$white = #fff
$gray-1 = #fafafa
$gray-2 = #ededed
$gray-3 = #e6e6e6
$gray-4 = #ddd
$gray-5 = #d4d4d4
$gray-6 = #b7b7b7
$blue = #165AE7
$main = #2f3542
$main-bg = #eee
$main-red = #ff4757
$bone-bg = #e7e7e7
$black = #000
$dark-deep = #18202e
$dark-light = #1f283a